<h3 class="inv-post-title">Items</h3>
<hr>

<div class="responsive">
    <button type="button" class="btn btn-danger" ng-click="open(product)"><span class="glyphicon glyphicon-plus">&nbsp;Add new products</span></button>
    <hr>
<div class="table-responsive">
    <div class="panel panel-info">
        <div class="panel-heading">
                List of Products
                <div class="sw-search">
                    <div class="nav-search" id="nav-search">
                        Filter: <span class="input-icon">
                            <input placeholder="search for products..." class="nav-search-input" ng-model="filterProduct"           autocomplete="off" type="text" style="width:300px;" focus>
                        </span>
                    </div>
                </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table  table-hover table-responsive">
            <tr ng-show="{{products.length==0}}"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
            <tr ng-show="{{products.length==0}}"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>

        <thead>
            <tr>
                <th  ng-repeat="c in cols">{{c.text}}</th>
            </tr>
        </thead> 
        <tbody>
            <tr ng-repeat="c in warehouse | filter:filterProduct| orderBy:'-id' " id="{{c.id}}"
                animate-on-change="c.packing + c.stock + c.price + c.description" ng-animate="' animate' ">
                <td>{{c.id}}</td><td>{{c.name}}</td><td>{{c.price}}</td><td>{{c.stock}}</td><td>{{c.packing}}</td><td>{{c.description}}</td>
                <td>
                    <button class="btn btn-success" ng-class="{Stock:'btn-success',Inactive:''}[c.status] " style="margin:0" ng-click="changeStatus()">{{c.status}}</button>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="open(c)"><span class="glyphicons glyphicons-pencil">Edit</span></button>
                        <button type="button" class="btn btn-danger" ng-click="deleteProduct(c._id)">Delete</button>
                    </div>
                </td>    
            </tr>
        </tbody>   
        </table>
            </div>
        </div>
    </div>
